.debug-candidate-group {
  fill: rgb(230, 50, 50);
  font-weight: bold;
}

.debug-value-group {
  opacity: 0.9;
  fill: rgb(255, 0, 225);
  filter: drop-shadow(0px 0px 2px white);
}

.highlight-group>.debug-hover {
  fill: rgb(250, 250, 250);
  opacity: 0.9;
  filter: drop-shadow(0 0 5px black);
}

#debug-container {
  padding: var(--gap-default);
  box-sizing: border-box;
}

#debug-container > .lazy-body {
  display: flex;
  flex-direction: row;
  gap: var(--gap-default);
}

#debug-container #debug-logs {
  flex: 1;
  overflow: auto;
  min-width: 0;
  box-shadow: inset 0px 0px 3px #555;
  padding: 3px;
  cursor: pointer;
}

#debug-container #debug-logs>div>span:first-child {
  color: var(--color-text-muted);
}

#debug-container #debug-logs .duplicate-log-line {
  margin-left: 50px;
}

#debug-container #debug-logs .important-log-line {
  font-weight: bold;
  margin: 5px 0;
}

#debug-container #debug-panel {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

#debug-container #debug-panel #debug-puzzle-input {
  width: 95%;
}

#counters-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

#counters-container>div {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#counters-container span {
  font-size: var(--font-size-small);
}

.debug-checkbox {
  display: none;
}

.debug-checkbox:checked+label {
  color: white;
  background-color: #888;
}