body {
  font-size: 14px;
}

#sudoku-grid {
  position: relative;

  box-shadow: 3px 3px 10px;
}

.click-interceptor-svg {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.cell-single-value {
  font-size: 30px;
  font-family: monospace;

  text-anchor: middle;
  dominant-baseline: middle;
}

.cell-multi-value {
  font-size: 15px;
  font-family: monospace;

  text-anchor: middle;
  dominant-baseline: hanging;
  white-space: pre;
}

.size-16x16 .cell-multi-value {
  font-size: 9px;
}

#solution-group {
  fill: rgb(0, 128, 255);
}

#givens-group .cell-multi-value {
  fill: lightgrey;
  stroke: rgb(255, 255, 255);
  transform: translate(0px, -1.5px);
}

#givens-group .cell-single-value {
  font-family: sans-serif;
}

#diff-group {
  fill: rgb(200, 120, 120);
}

#debug-candidate-group {
  fill: rgb(230, 50, 50);
  font-weight: bold;
}

.info-overlay-item {
  font-size: 12;
}

.killer-cage-sum {
  font-size: 10px;
  font-family: monospace;
  font-weight: bold;
  dominant-baseline: hanging;
}

.quad-value {
  font-size: 9px;
  text-anchor: middle;
  dominant-baseline: middle;
}

.size-16x16 .quad-value {
  font-size: 7px;
}

body {
  font-family: sans-serif;
  margin-left: 20px;
}

#instruction-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
}

#instruction-panel>div {
  max-width: 400px;
  display: flex;
}

#example-select {
  margin-top: 0px;
  width: 200px;
}

#example-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instruction-panel span.description {
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 0.5em;
}

#freeform-constraint-input {
  display: inline-block;
  margin-top: 0px;
}

#freeform-constraint-text-container {
  position: relative;
}

#freeform-constraint-text-container button {
  position: absolute;
  font-size: 14px;
  margin: 5px;
  bottom: 0;
  right: 0;
}

#freeform-constraint-text {
  width: 300px;
  margin: 0;
  padding: 2px 0px 35px 2px;
}

#freeform-constraint-input-error {
  font-size: small;
  position: absolute;
}

#sudoku-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px 0;
}

#state-buttons {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}

button,
.button {
  font-size: 16px;
  border-radius: 5px;
  color: #ffffff;

  border: 1px solid #124d77;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  text-shadow: 0px 1px 0px #263666;

  padding: 5px 15px;
  margin: 5px 0px;
}

button:hover:enabled,
.button:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

button:disabled {
  /* Emulate opacity(0.5) without making it transparent. */
  filter: contrast(0.333) brightness(1.5);
}

button:active {
  box-shadow: inset 0px 0px 3px #555;
}

button.danger-button {
  border-color: #942911;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  text-shadow: 0px 1px 0px #854629;
}

button.danger-button:hover:enabled {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

button.image-button {
  height: 30px;
  width: 50px;
  padding: 5px 5px;
  margin: 0px 0px;
}

button.image-button>img {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

.selected-cell {
  fill: rgba(0, 0, 255);
  opacity: 0.1;
}

.highlighted-cell {
  fill: rgba(255, 255, 0);
  opacity: 0.5;
}

.highlighted-step-cell {
  fill: url('#highlighted-step-gradient');
  opacity: 0.5;
}

.error {
  color: rgb(200, 0, 0);
  font-weight: bold;
}

.result {
  color: rgb(0, 0, 200);
  font-weight: bold;
}

#displayed-constraints {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: rgba(0, 0, 255, 0.1);
  border-radius: 10px;

  font-size: 12px;
  width: min-content;
  min-width: 100%;
  line-height: 1.2em;
}

#displayed-regions {
  display: flex;
  flex-direction: column;

  background: rgba(0, 0, 255, 0.1);
  border-radius: 10px;

  margin-top: 10px;

  height: 75px;
  overflow-y: auto;
  overflow-x: hidden;
}

#displayed-regions:empty:before {
  content: 'Jigsaw pieces';
  color: grey;
  text-align: center;
}

.constraint-item {
  cursor: default;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 0, 0.5);
  margin: 3px;
}

.constraint-item span {
  margin-right: 5px;
  margin-left: 10px;
}

.constraint-item button {
  border: 0px;
  color: #d0451b;
  background: transparent;
  font-size: 25px;
  cursor: pointer;
  margin: 0px;
  padding: 2px 10px;
}

.constraint-item:hover {
  background: rgba(255, 255, 0, 0.8);
}

.constraint-item button:hover {
  background: none;
  color: #bc3315;
}

#constraint-panel,
#constraint-panel .constraint-subpanel {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#constraint-panel h1 {
  font-size: 20px;
  line-height: 1;
}

#constraint-panel form {
  margin: 0;
}

#constraint-panel>div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

#constraint-panel .panel-edge-constraints {
  margin-right: 10px;
  gap: 2px;
}

#outside-arrow-input {
  /* Hack, because for some reason `vertical-align: text-top` moves the tooltip
     down for just the little killer:( */
  line-height: 1;
}

#outside-arrow-input>fieldset>div:last-child {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

input[type=number] {
  width: 4.5em;
  height: 1.6em;
}

input[disabled]+label {
  color: grey;
}

input:invalid {
  border: none;
  outline: 2px solid red;
}

.constraint-group {
  border-radius: 10px;
  border: 2px solid #aaa;
  padding: 5px;
}

fieldset {
  border-radius: 10px;
  width: fit-content;
}

fieldset[disabled] {
  color: grey;
}

textarea {
  margin: 10px 0px;
  font-size: 12px;
}

#sudoku-grid-with-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control-panel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control-panel button.icon-button {
  min-width: 40px;
  width: 40px;
}

.control-panel button.danger-button {
  padding: 5px 10px;
}

.control-panel button.image-button {
  width: 40px;
}

#grid-control-buttons {
  justify-content: space-between;
}

#solution-control-panel {
  width: 250px;
  display: flex;
  gap: 2px;
  flex-direction: column;
}

#solution-control-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.big-button {
  height: 50px;
  min-width: 50px;
}

button.icon-button {
  min-width: 50px;
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
}

#solution-iteration-state {
  display: block;
  width: 100%;
  text-align: left;
  overflow: visible;
  white-space: nowrap;
}

#fake-input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: -1;
  /* Required to stop auto-zooming on mobile. */
  width: 1em;
  font-size: 16px;
}

#display-panel {
  width: 160px;
}

#state-output {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-direction: column;
}

#state-output span {
  display: block;
  line-height: 120%;
}

#state-output span:after {
  /* Ensure that the empty spans still take up space. */
  content: '.';
  visibility: hidden;
}

#state-output span.number-gap {
  display: inline-block;
  width: 1px;
}

@media screen and (max-width: 600px) {
  #display-panel {
    width: unset;
    order: -1;
  }

  #state-output {
    flex-direction: unset;
  }
}

select {
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  text-align: center;
  text-align-last: center;
  margin: 10px 0;
}

#shape-select {
  padding: 0px 5px 0px 10px;
  margin: 0;
  margin-right: 2px;
}

.two-column {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.vcenter-items {
  align-items: center;
}

.outside-arrow {
  opacity: 0.2;
  cursor: pointer;
}

.outside-arrow.active-arrow {
  opacity: 1;
}

.outside-arrow.selected-arrow,
.outside-arrow:hover {
  filter: brightness(0.5);
  opacity: 1;
}

.outside-arrow.selected-arrow>text,
.outside-arrow:hover>text {
  fill: #f0f;
}

.outside-arrow.active-arrow.full-line-arrow>path {
  opacity: 0;
}

#outside-arrow-type-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 5px;
}

#multi-cell-constraint-input>fieldset {
  border: none;
  background: rgb(0, 0, 255, 0.1);
  width: 160px;
}

#multi-cell-constraint-input button {
  margin-left: 10px;
}

#multi-cell-constraint-input select {
  width: 100%;
}

#multi-cell-constraint-input.disabled {
  color: grey;
}

.description {
  line-height: 1;
  font-size: 12px;
  color: grey;
  max-width: 450px;
}

.description p {
  margin: 4px 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#example-select+a {
  margin: 0 10px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  color: grey;
  font-family: sans-serif;
  font-size: 12px;
}

.tooltip {
  position: relative;
  cursor: pointer;
  vertical-align: text-top;
}

.tooltip::before {
  content: '?';

  height: 12px;
  width: 12px;
  line-height: 12px;

  background-color: #ddd;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;

  font-weight: bold;
  font-size: 10px;

  border: 2px solid #aaa;
  color: #999;
}

.tooltip:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 90%;

  width: 300px;
  padding: 3px;
  border-radius: 5px;
  background: #ffd;
  box-shadow: 2px 2px 5px;

  line-height: 1;
  color: black;
  font-size: 12px;
  max-width: 200px;

  z-index: 1000;
}

/* Toggle switch
 * From: https://www.w3schools.com/howto/howto_css_switch.asp
 */
.switch {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.switch label {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .1s;

  border-radius: 50px;
}

.switch label span:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .1s;

  border-radius: 50%;
}

input:checked+span {
  background-color: #2196F3;
}

input:focus+span {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+span:before {
  transform: translateX(19px);
}

#solve-mode-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

#solve-mode-input {
  margin-right: 10px;
}

#solve-mode-description {
  max-width: 160px;
}

#validate-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.muldiv {
  display: inline-block;
  position: relative;
  line-height: 6px;
  font-size: 12px;
}

.muldiv>span {
  display: block;
}

#debug-container {
  display: flex;
  flex-direction: row;
}

#debug-container.hidden {
  display: none;
}

#debug-logs {
  resize: both;
  overflow: auto;
  height: 200px;
  width: 95%;
  box-shadow: inset 0px 0px 3px #555;
  padding: 3px;

  cursor: pointer;
}

#debug-logs>div>span:first-child {
  color: grey;
}

#debug-log-level {
  padding: 0px 5px 0px 10px;
  margin: 0;
  margin-left: 5px;
}

#debug-panel {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 200px;
  gap: 10px;
}

.debug-hover {
  padding: 5px;
  width: fit-content;

  cursor: pointer;
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.debug-hover:hover {
  color: white;
  background-color: #888;
}

#close-debug-button {
  width: fit-content;
  font-size: 14px;
}

#progress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#progress-container.error {
  filter: hue-rotate(120deg) brightness(0.8);
}

#progress-container span {
  line-height: 1em;
  font-size: small;
  color: #4444ff;
  font-weight: bold;
  text-transform: uppercase;
}

#progress-container span:empty:after {
  content: '.';
  visibility: hidden;
}

progress {
  width: 100%;
}

#step-status {
  font-weight: bold;
  color: darkviolet;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

#stats-container {
  position: absolute;
  display: none;
  z-index: 1000;

  border: 1px solid grey;

  padding: 5px;
  box-shadow: #00000029 2px 2px 5px 2px;
  background: white;
  border-radius: 10px;
}

#stats-container button {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
}

#stats-header {
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  background: #cdcdcd;
  background: linear-gradient(to bottom, #cdcdcd 5%, #c0c0c0 100%);
  border: 1px solid #cdcdcd;

  display: flex;
  justify-content: space-between;
  cursor: grab;
}

#stats-container .description {
  margin: 3px;
  margin-top: 6px;
  color: black;
}

#custom-binary-input .dropdown-body>div {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#custom-binary-input select {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

#custom-binary-input-function {
  display: flex;
  gap: 10px;
}

#custom-binary-input-function code {
  font-size: 12px;
}

#custom-binary-input-function textarea {
  margin: 0;
}

.dropdown-container {
  display: inline-block;
  position: relative;
  font-size: 14px;
  user-select: none;
  line-height: 1.2em;
}

.dropdown-container .dropdown-anchor,
select {
  border: 1px solid rgb(118, 118, 118);
  border-radius: 1px;
}

.dropdown-container.disabled {
  color: lightgrey;
}

.dropdown-container.disabled .dropdown-anchor {
  border-color: lightgrey;
}

.dropdown-container .dropdown-anchor {
  cursor: pointer;
  display: block;
  padding: 2px;
  text-align: center;
}

.dropdown-container .dropdown-anchor:after {
  position: absolute;
  content: "";
  border-left: 1px solid black;
  border-top: 1px solid black;
  padding: 3px;
  right: 6px;
  top: 35%;
  transform: rotate(-135deg);
}

.dropdown-container .dropdown-body {
  position: absolute;
  width: 99%;
  display: none;

  padding: 0;
  margin: 0;
  border: 1px solid rgb(118, 118, 118);
  border-top: none;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
  z-index: 2;
}

#multi-value-cell-input .dropdown-body {
  z-index: 3;
  justify-items: center;
  text-align: center;
}

.multi-value-input-option {
  width: 100%;
}

.multi-value-input-option .button {
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.multi-value-input-option input:not(:checked)+.button {
  /* Emulate opacity(0.5) without making it transparent. */
  filter: contrast(0.333) brightness(1.5);
}


.multi-value-input-option input {
  display: none;
}

.dropdown-container.disabled .dropdown-body {
  display: none !important;
}

.dropdown-container .dropdown-body li {
  list-style: none;
}

.dropdown-container label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.dropdown-container {
  width: 100%;
}

.dropdown-container.visible .dropdown-body {
  display: grid;
}

.duplicate-log-line {
  margin-left: 50px;
}

.important-log-line {
  font-weight: bold;
  margin: 5px 0;
}