body {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  width: fit-content;

  margin: 8px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#sudoku-grid {
  position: relative;
  box-shadow: 3px 3px 10px;
  align-self: center;
}

.click-interceptor-svg {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.cell-single-value {
  font-size: 30px;
  font-family: monospace;

  text-anchor: middle;
  dominant-baseline: middle;
}

.cell-multi-value {
  font-size: 15px;
  font-family: monospace;

  text-anchor: middle;
  dominant-baseline: hanging;
  white-space: pre;
}

.grid-size-large .cell-multi-value {
  font-size: 9px;
}

.solution-group {
  fill: rgb(0, 128, 255);
}

.givens-group .cell-multi-value {
  fill: lightgrey;
  stroke: rgb(255, 255, 255);
  transform: translate(0px, -1.5px);
}

.givens-group .cell-single-value {
  font-family: sans-serif;
}

.diff-group {
  fill: rgb(200, 120, 120);
}

.debug-candidate-group {
  fill: rgb(230, 50, 50);
  font-weight: bold;
}

.info-overlay-item {
  font-size: 12;
}

.shaded-region-label {
  font-size: 10px;
  font-family: monospace;
  font-weight: bold;
  dominant-baseline: hanging;
}

.quad-value {
  font-size: 9px;
  text-anchor: middle;
  dominant-baseline: middle;
}

.grid-size-large .quad-value {
  font-size: 7px;
}

.layout-view>.non-layout-constraint,
.layout-view>.outsideclue-group text {
  filter: opacity(50%) blur(2px);
}

.layout-view>#givens-mask * {
  fill: white;
}

#instruction-panel {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

#instruction-panel>div {
  max-width: 400px;
  display: flex;
}

#instruction-panel>div:first-child {
  min-width: 400px;
}

#example-select {
  margin-top: 0px;
  width: 200px;
}

#example-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instruction-panel span.description {
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 0.5em;
}

#freeform-constraint-input {
  display: inline-block;
  margin: 0;
}

#freeform-constraint-text-container {
  position: relative;
}

#freeform-constraint-text-container button {
  position: absolute;
  font-size: 14px;
  margin: 5px;
  bottom: 0;
  right: 0;
}

#freeform-constraint-text {
  width: 300px;
  margin: 0;
  padding: 2px 0px 35px 2px;
}

#error-panel {
  font-size: small;
  width: 370px;
  margin-bottom: 5px;
}

#sudoku-container {
  display: flex;
  gap: 20px;
}

#state-buttons {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}

button,
.button {
  font-size: 16px;
  border-radius: 5px;
  color: #ffffff;

  border: 1px solid #124d77;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  text-shadow: 0px 1px 0px #263666;

  padding: 5px 15px;
  margin: 5px 0px;
}

button:hover:enabled,
.button:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

button:disabled {
  /* Emulate opacity(0.5) without making it transparent. */
  filter: contrast(0.333) brightness(1.5);
}

button:active {
  box-shadow: inset 0px 0px 3px #555;
}

button.danger-button {
  border-color: #942911;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  text-shadow: 0px 1px 0px #854629;
}

button.danger-button:hover:enabled {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

button.image-button {
  height: 30px;
  width: 50px;
  padding: 5px 5px;
  margin: 0px 0px;
}

button.image-button>img {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

.highlight-group>.selected-cells {
  fill: rgba(0, 0, 255);
  opacity: 0.1;
}

.highlight-group>.chip-hover,
.highlight-group>.debug-hover {
  fill: rgba(250, 250, 250);
  opacity: 0.9;
  filter: drop-shadow(0 0 5px black);
}

.highlight-group>.selected-constraint {
  fill: yellow;
  opacity: 0.7;
  filter: drop-shadow(0 0 5px black);
}

.highlight-group>.latest-constraint {
  fill: lime;
  opacity: 0.7;
  filter: drop-shadow(0 0 5px black);
}

.highlight-group>.step-cell {
  fill: url('#highlighted-step-gradient');
  opacity: 0.5;
}

.error {
  color: rgb(200, 0, 0);
  font-weight: bold;
}

.result {
  color: rgb(0, 0, 200);
  font-weight: bold;
}

.chip-view {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: rgba(220, 220, 255);
  border-radius: 10px;

  font-size: 12px;
  width: min-content;
  min-width: 100%;
  line-height: 1.2em;
}

#composite-chip-view {
  grid-template-columns: 1fr;
  margin: 5px 0;
  min-height: 4em;
}

#jigsaw-chip-view {
  margin-bottom: 5px;
  min-height: 4em;
}

.chip {
  cursor: default;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: white;
  margin: 3px;

  border: 1px solid grey;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.composite-chip {
  flex-wrap: wrap;
}

.chip:hover {
  border-color: darkgray;
  background: rgb(230, 230, 230);
}

.chip.selected-constraint {
  background-color: yellow;
}

.chip.selected-constraint:hover {
  background-color: rgb(240, 240, 20);
}

text.selected-constraint,
tspan.selected-constraint {
  fill: yellow;
  paint-order: stroke;
  stroke: black;
  stroke-width: 2px;
}

.chip.latest-constraint {
  background-color: lime;
}

.chip.latest-constraint:hover {
  background-color: limegreen;
}

text.latest-constraint,
tspan.latest-constraint {
  fill: lime;
  paint-order: stroke;
  stroke: black;
  stroke-width: 2px;
}

.chip-icon {
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.chip-label {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.chip>button {
  border: 0px;
  border-radius: 20px;
  color: rgb(249, 124, 124);
  background: transparent;
  font-size: 25px;
  cursor: pointer;
  margin: 0px;
  padding: 2px 10px;
  font-family: monospace;
}

.chip>button:hover {
  background: none;
  color: #d0451b;
}

.chip .chip-view {
  width: fit-content;
  min-width: unset;
  grid-template-columns: 1fr;
  background: none;
}

#constraint-panel-container {
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 370px;
}

#constraint-panel-container>.two-column>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 180px;
}

#constraint-panel-container h1 {
  font-size: 20px;
  line-height: 1;
}

#constraint-panel-container form {
  margin: 0;
}

#constraint-panel-container>div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

#constraint-panel-container .panel-edge-constraints {
  margin-right: 10px;
  gap: 2px;
}

#outside-clue-input {
  /* Hack, because for some reason `vertical-align: text-top` moves the tooltip
     down for just the little killer:( */
  line-height: 1;
}

#outside-clue-input-body .description {
  padding: 5px 0px;
}

#outside-clue-input-body>div:last-child {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

#composite-constraint-input .collapsible-body>div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

#composite-constraint-input button {
  text-wrap: nowrap;
}

input[type=number] {
  width: 4.5em;
  height: 1.6em;
}

input[disabled]+label {
  color: grey;
}

input:invalid {
  border: none;
  outline: 2px solid red;
}

.constraint-panel {
  border-radius: 10px;
  border: 2px solid #aaa;
  padding: 0;
  margin: 0;
}

.constraint-panel>* {
  padding: 0px 5px;
}

.constraint-panel-highlight:not(.container-open) {
  border-color: rgb(150 150 255);
  box-shadow: 0 0 8px rgb(150 150 255);
}

fieldset[disabled],
.disabled {
  color: darkgrey;
}

textarea {
  margin: 10px 0px;
  font-size: 12px;
}

#sudoku-grid-and-state {
  display: flex;
  gap: 15px;
  position: sticky;
  top: 10px;
}

#sudoku-grid-with-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control-panel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control-panel button.icon-button {
  min-width: 40px;
  width: 40px;
}

.control-panel button.danger-button {
  padding: 5px 10px;
}

.control-panel button.image-button {
  width: 40px;
}

#grid-control-buttons {
  justify-content: space-between;
}

#solution-control-panel {
  width: 250px;
  display: flex;
  gap: 2px;
  flex-direction: column;
}

#solution-control-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.big-button {
  height: 50px;
  min-width: 50px;
}

button.icon-button {
  min-width: 50px;
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
  line-height: 1.2em;
}

#solution-iteration-state {
  display: block;
  width: 100%;
  text-align: left;
  overflow: visible;
  white-space: nowrap;
  min-height: 1.2em;
}

#fake-input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: -1;
  /* Required to stop auto-zooming on mobile. */
  width: 1em;
  font-size: 16px;
}

#display-panel {
  width: 140px;
}

#state-output {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-direction: column;
}

#state-output span {
  display: block;
  line-height: 120%;
}

#state-output span:after {
  /* Ensure that the empty spans still take up space. */
  content: '.';
  visibility: hidden;
}

#state-output span.number-gap {
  display: inline-block;
  width: 1px;
}

select {
  font-size: 14px;
  padding: 5px 5px 5px 10px;
  text-align: center;
  text-align-last: center;
  margin: 10px 0;

  background-color: white;
  border: 1px solid #aaa;
  border-radius: 2px;
}

#shape-container {
  border-color: transparent;
}

#shape-select {
  padding: 0px 5px 0px 10px;
  margin: 0 5px;
}

.two-column {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.vcenter-items {
  align-items: center;
}

.outside-arrow {
  opacity: 0.2;
  cursor: pointer;
}

.outside-arrow.active-arrow {
  opacity: 1;
}

.outside-arrow.selected-arrow,
.outside-arrow:hover {
  filter: brightness(0.7);
  opacity: 1;
}

.outside-arrow.selected-arrow>text,
.outside-arrow:hover>text {
  fill: #f0f;
}

.outside-arrow.active-arrow.full-line-arrow>path {
  opacity: 0;
}

.outside-arrow-clue-types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 5px;
}

.description {
  line-height: 1;
  font-size: 12px;
  color: grey;
  max-width: 450px;
}

.description p {
  margin: 4px 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 100%;
}

#example-select+a {
  margin: 0 10px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  color: grey;
  font-family: sans-serif;
  font-size: 12px;
}

.tooltip {
  position: relative;
  cursor: pointer;
  vertical-align: text-top;
}

.tooltip::before {
  content: '?';

  height: 12px;
  width: 12px;
  line-height: 12px;

  background-color: #ddd;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;

  font-weight: bold;
  font-size: 10px;

  border: 2px solid #aaa;
  color: #999;
}

.tooltip:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 90%;

  width: 300px;
  padding: 3px;
  border-radius: 5px;
  background: #ffd;
  box-shadow: 2px 2px 5px;

  line-height: 1;
  color: black;
  font-size: 12px;
  max-width: 200px;

  z-index: 1000;
}

/* Toggle switch
 * From: https://www.w3schools.com/howto/howto_css_switch.asp
 */
.switch {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.switch label {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .1s;

  border-radius: 50px;
}

.switch label span:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .1s;

  border-radius: 50%;
}

input:checked+span {
  background-color: #2196F3;
}

input:focus+span {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+span:before {
  transform: translateX(19px);
}

#solve-mode-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

#solve-mode-input {
  margin: 0;
  margin-bottom: 10px;
}

#solve-mode-description {
  max-width: 160px;
}

.muldiv {
  display: inline-block;
  position: relative;
  line-height: 6px;
  font-size: 12px;
}

.muldiv>span {
  display: block;
}

#debug-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
}

#debug-container.hidden {
  display: none;
}

#debug-logs {
  resize: both;
  overflow: auto;
  height: 210px;
  width: 900px;
  box-shadow: inset 0px 0px 3px #555;
  padding: 3px;
  margin-bottom: 10px;

  cursor: pointer;
}

#debug-logs>div>span:first-child {
  color: grey;
}

#debug-log-level {
  padding: 0px 5px 0px 10px;
  margin: 0;
  margin-left: 5px;
}

#debug-panel {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

#debug-puzzle-input {
  width: 95%;
}

.debug-checkbox+label {
  padding: 5px;
  width: fit-content;

  cursor: pointer;
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.debug-checkbox:checked+label {
  color: white;
  background-color: #888;
}

.debug-checkbox {
  display: none;
}

#debug-counters {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 150px;
}

#debug-counters:empty {
  width: 0;
}

#debug-counters>div {
  display: flex;
  justify-content: space-between;
}

#debug-counters span {
  padding: 0 5px;
  font-size: 12px;
}

#close-debug-button {
  width: fit-content;
  font-size: 14px;
}

#progress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#progress-container.error {
  filter: hue-rotate(120deg) brightness(0.8);
}

#progress-container span {
  line-height: 1em;
  font-size: small;
  color: #4444ff;
  font-weight: bold;
  text-transform: uppercase;
}

#progress-container span:empty:after {
  content: '.';
  visibility: hidden;
}

progress {
  width: 100%;
}

#step-status {
  font-weight: bold;
  color: darkviolet;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

#stats-container {
  display: none;

  border: 1px solid grey;

  padding: 5px;
  box-shadow: #00000029 2px 2px 5px 2px;
  background: white;
  border-radius: 10px;
}

#stats-container button {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
}

#stats-header {
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  background: #cdcdcd;
  background: linear-gradient(to bottom, #cdcdcd 5%, #c0c0c0 100%);
  border: 1px solid #cdcdcd;

  display: flex;
  justify-content: space-between;
  cursor: grab;
}

#stats-container .description {
  margin: 3px;
  margin-top: 6px;
  color: black;
}

#custom-binary-input .collapsible-body>div {
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1em;
}

#custom-binary-input select {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

#custom-binary-input-function {
  display: flex;
  gap: 10px;
}

#custom-binary-input-function code {
  font-size: 12px;
}

#custom-binary-input-function textarea {
  margin: 0;
}

.collapsible-container {
  display: inline-block;
  position: relative;
  font-size: 14px;
  user-select: none;
  margin: 0px;
  width: 100%;
}

.composite-constraint-selected .collapsible-container.allow-in-composite {
  background-color: rgba(255, 255, 0, 0.5);
}

.collapsible-container .collapsible-anchor {
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  text-align: center;
  line-height: 1.2em;
}

.collapsible-container .collapsible-anchor:after {
  position: absolute;
  content: "";
  border-left: 1px solid black;
  border-top: 1px solid black;
  padding: 3px;
  right: 6px;
  transform: translateY(3px) rotate(-135deg);
}

.collapsible-container.container-open .collapsible-anchor:after {
  transform: translateY(5px) rotate(45deg);
}

.collapsible-container:not(.container-open) .collapsible-body {
  display: none;
}

#multi-cell-constraint-input button {
  margin-left: 10px;
}

#multi-cell-constraint-input select {
  width: 100%;
}

#multi-cell-constraint-body>div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#multi-cell-constraint-loop-container {
  margin-bottom: -10px;
}

#multi-value-cell-input .collapsible-body {
  justify-items: center;
  text-align: center;
  line-height: 1.2em;
}

#multi-value-cell-input .collapsible-body>div {
  display: grid;
  width: 100%;
}

.multi-value-input-option {
  width: 100%;
}

.multi-value-input-option .button {
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.multi-value-input-control {
  margin: 5px 10px;
  padding: 5px;
}

.multi-value-input-option input:not(:checked)+.button {
  /* Emulate opacity(0.5) without making it transparent. */
  filter: contrast(0.333) brightness(1.5);
}


.multi-value-input-option input {
  display: none;
}

.multi-value-input-option {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.duplicate-log-line {
  margin-left: 50px;
}

.important-log-line {
  font-weight: bold;
  margin: 5px 0;
}