#sudoku-grid {
  position: relative;

  box-shadow: 3px 3px 10px;
}

.click-interceptor-svg {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.fixed-value {
  font-size: 30px;
  font-family: sans-serif;
  text-anchor: middle;
  dominant-baseline: middle;
}

.solution-value {
  font-size: 30px;
  font-family: monospace;

  fill: rgb(0, 128, 255);

  text-anchor: middle;
  dominant-baseline: middle;
}

.solution-multi-value {
  font-size: 15px;
  font-family: monospace;

  fill: rgb(0, 128, 255);

  text-anchor: middle;
  dominant-baseline: hanging;
  white-space: pre;
}

.size-16x16 .solution-multi-value {
  font-size: 9px;
}

.info-overlay-item {
  opacity: 0.5;
  dominant-baseline: hanging;
}

.killer-cage-sum {
  font-size: 10px;
  font-family: monospace;
  font-weight: bold;
  dominant-baseline: hanging;
}

.hidden-solution {
  visibility: hidden;
}

body {
  font-family: sans-serif;
  margin-left: 20px;
}

#instruction-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

#instruction-panel span.description {
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

#sudoku-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px 0;
}

#stats-buttons {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}

button {
  font-size: 16px;
  border-radius: 5px;
  color: #ffffff;

  border: 1px solid #124d77;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  text-shadow: 0px 1px 0px #263666;

  padding: 5px 15px;
  margin: 5px 0px;
}

button:hover:enabled {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}

button:disabled {
  opacity: 0.5;
}

button:active {
  box-shadow: inset 0px 0px 3px #555;
}

button.danger-button {
  border-color: #942911;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  text-shadow: 0px 1px 0px #854629;
}

button.danger-button:hover:enabled {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

#stats-buttons button {
  height: 30px;
  width: 30px;
  padding: 5px 5px;
  margin: 0px 0px;
}

#stats-buttons button>img {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

.selected-cell {
  fill: rgba(0, 0, 255);
  opacity: 0.1;
}

.highlighted-cell {
  fill: rgba(255, 255, 0);
  opacity: 0.5;
}

.highlighted-step-cell {
  fill: url('#highlighted-step-gradient');
  opacity: 0.5;
}

.error {
  color: rgb(200, 0, 0);
  font-weight: bold;
}

.result {
  color: rgb(0, 0, 200);
  font-weight: bold;
}

#displayed-constraints {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: rgba(0, 0, 255, 0.1);
  border-radius: 10px;
}

#displayed-regions {
  display: flex;
  flex-direction: column;

  background: rgba(0, 0, 255, 0.1);
  border-radius: 10px;

  margin-top: 10px;

  height: 75px;
  overflow: scroll;
}

#displayed-regions:empty:before {
  content: 'Jigsaw pieces';
  color: grey;
  text-align: center;
}

.constraint-item {
  cursor: default;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 0, 0.5);
  margin: 5px;
}

.constraint-item button {
  border: 0px;
  color: #d0451b;
  background: transparent;
  font-size: 25px;
  cursor: pointer;
  margin: 0px;
  padding: auto;
}

.constraint-item:hover {
  background: rgba(255, 255, 0, 0.8);
}

.constraint-item button:hover {
  background: none;
  color: #bc3315;
}

#constraint-panel h1 {
  font-size: 20px;
  line-height: 1;
}

#constraint-panel {
  line-height: 2;
}

#outside-arrow-input {
  /* Hack, because for some reason `vertical-align: text-top` moves the tooltip
     down for just the little killer:( */
  line-height: 1;
}

#constraint-panel svg {
  margin-right: 10px;
}

#constraint-panel .panel-edge-constraints {
  margin-right: 10px;
  gap: 2px;
}

input[type=number] {
  width: 4em;
}

fieldset {
  border-radius: 10px;
  width: fit-content;
}

fieldset[disabled] {
  color: grey;
}

textarea {
  margin: 10px 0px;
}

.control-panel {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  gap: 15px;
}

.control-panel button {
  height: 50px;
  min-width: 50px;
}

#grid-control-buttons {
  justify-content: space-between;
}

#solution-control-panel {
  display: flex;
  align-items: center;
  gap: 2px;
  flex-direction: column;
}

#solution-control-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.icon-button {
  height: 50px;
  width: 50px;
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
}

#solution-control-buttons button.icon-button {
  height: 35px;
}


#solution-step-output {
  display: inline-block;
  min-width: 40px;
  text-align: center;
}

#freeform-constraint-input {
  margin-top: 10px;
}

#freeform-constraint-text-container {
  position: relative;
}

#freeform-constraint-text-container button {
  position: absolute;
  margin: 5px;
  bottom: 0;
  right: 0;
}

#freeform-constraint-text {
  margin: 0;
  width: 100%;
  padding: 2px 0px 40px 2px;
}

#freeform-constraint-input-error {
  color: rgb(200, 0, 0);
  font-size: small;
  max-width: fit-content;
}

#fake-input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: -1;
  /* Required to stop auto-zooming on mobile. */
  width: 1em;
  font-size: 16px;
}

#display-panel {
  width: 160px;
}

#state-output {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-direction: column;
}

#state-output span {
  display: block;
  line-height: 120%;
}

#state-output span:after {
  /* Ensure that the empty spans still take up space. */
  content: '.';
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  #display-panel {
    width: unset;
    order: -1;
  }

  #state-output {
    flex-direction: unset;
  }
}

select {
  font-size: 16px;
  padding: 5px 5px 5px 10px;
  text-align: center;
  text-align-last: center;
  margin: 10px 0;
}

#shape-select {
  padding: 0px 5px 0px 10px;
  margin: 0;
  margin-right: 2px;
}

.two-column {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.vcenter-items {
  align-items: center;
}

.outside-arrow {
  opacity: 0.2;
  cursor: pointer;
}

.outside-arrow.active-arrow {
  opacity: 1;
}

.outside-arrow.selected-arrow,
.outside-arrow:hover {
  filter: brightness(0.5);
  opacity: 1;
}

.outside-arrow.selected-arrow>text,
.outside-arrow:hover>text {
  fill: #f0f;
}

.outside-arrow.active-arrow.sandwich>path {
  opacity: 0;
}

#multi-cell-constraint-input>fieldset {
  border: none;
  background: rgb(0, 0, 255, 0.1);
  width: fit-content;
}

.description {
  line-height: 1;
  font-size: 12px;
  color: grey;
  max-width: 450px;
}

.description p {
  margin: 4px 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#example-select+a {
  margin: 0 10px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  color: grey;
  font-family: sans-serif;
  font-size: 12px;
}

.tooltip {
  position: relative;
  cursor: pointer;
  vertical-align: text-top;
}

.tooltip::before {
  content: '?';

  height: 12px;
  width: 12px;
  line-height: 12px;

  background-color: #ddd;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;

  font-weight: bold;
  font-size: 10px;

  border: 2px solid #aaa;
  color: #999;
}

.tooltip:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 90%;

  width: 300px;
  padding: 3px;
  border-radius: 5px;
  background: #ffd;
  box-shadow: 2px 2px 5px;

  line-height: 1;
  color: black;
  font-size: 12px;
  max-width: 200px;

  z-index: 1000;
}

/* Toggle switch
 * From: https://www.w3schools.com/howto/howto_css_switch.asp
 */
.switch {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.switch label {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .1s;

  border-radius: 50px;
}

.switch label span:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .1s;

  border-radius: 50%;
}

input:checked+span {
  background-color: #2196F3;
}

input:focus+span {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+span:before {
  transform: translateX(19px);
}

#solve-mode-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

#solve-mode-input {
  margin-right: 10px;
}

#solve-mode-description {
  max-width: 160px;
}

#validate-layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.muldiv {
  display: inline-block;
  position: relative;
  line-height: 6px;
  font-size: 12px;
}

.muldiv>span {
  display: block;
}

#debug-container {
  resize: both;
  overflow: auto;
  height: 100px;
  width: 95%;
  box-shadow: inset 0px 0px 3px #555;
  padding: 3px;

  display: none;
  cursor: pointer;
}

#debug-container>div>span:first-child {
  color: grey;
}

#progress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#progress-container.error {
  filter: hue-rotate(120deg) brightness(0.8);
}

#progress-container span {
  line-height: 1em;
  font-size: small;
  color: #4444ff;
  font-weight: bold;
  text-transform: uppercase;
}

#progress-container span:empty:after {
  content: '.';
  visibility: hidden;
}

progress {
  width: 100%;
}

#step-status {
  font-weight: bold;
  color: darkviolet;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}