.sudoku-grid {
  position: relative;

  display: inline-grid;
  grid-template-columns: repeat(9, 52px);
  grid-template-rows: repeat(9, 52px);
}

.sudoku-grid-background {
  position: absolute;
  top: 0;
  left: 0;
}

.cell-elem {
  width: 50px;
  height: 50px;
}

.cell-input {
  position: absolute;
  overflow: hidden;
  text-align: center;
  line-height: 50px;

  font-size: 30px;
  font-family: sans-serif;

  border-radius: 25px;

  cursor: pointer;
}

.cell-input:not(:empty) + .cell-solution {
  display: none;
}

.cell-solution {
  position: absolute;
  text-align: center;
  line-height: 50px;

  font-size: 30px;
  font-family: monospace;

  color: rgb(0, 128, 255);

  pointer-events: none;
}

.cell-multi-solution {
  font-size: 15px;
  line-height: 17px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

body > div {
  display: inline-block;
  vertical-align: top;
  font-family: sans-serif;
  margin: 10px;
}

#display-panel > div {
  margin-bottom: 10px;
}

.selected {
  background: rgba(0,0,255,0.1);
}

.error {
  color: rgb(200, 0, 0);
}

.constraint-item button {
  border: 0px;
  color: grey;
  background: transparent;
  cursor: pointer;
}
.constraint-item button:hover {
  color: black;
}

.highlight-constraint {
  fill: rgb(200, 150, 200);
  stroke: rgb(200, 150, 200);
}

#constraint-panel h1 {
  margin: 0px 0px;
  font-size: large;
  line-height: 1;
}

#constraint-panel {
  line-height: 2;
}

input[type=number]{
 width: 3em;
}

fieldset[disabled]{
  color: grey;
}

textarea {
  margin: 10px 0px;
}

#solution-control-panel {
  margin: 10px auto;
  text-align: center;
}

#solution-control-panel button {
  font-size: x-large;
  font-weight: bold;
  letter-spacing: -5px;
  font-family: monospace;
  height: 40px;
  width: 40px;
}

#display-panel {
  line-height: 2;
}
