.sudoku-grid {
  position: relative;

  display: inline-grid;
  grid-template-columns: repeat(9, 52px);
  grid-template-rows: repeat(9, 52px);

  box-shadow: 3px 3px 10px;
}

.sudoku-grid-background {
  position: absolute;
  top: 0;
  left: 0;
}

.cell-elem {
  width: 50px;
  height: 50px;
}

.cell-input {
  position: absolute;
  overflow: hidden;
  text-align: center;
  line-height: 50px;

  font-size: 30px;
  font-family: sans-serif;

  border-radius: 25px;

  cursor: pointer;
}

.cell-input:not(:empty) + .cell-solution {
  display: none;
}

.cell-solution {
  position: absolute;
  text-align: center;
  line-height: 50px;

  font-size: 30px;
  font-family: monospace;

  color: rgb(0, 128, 255);

  pointer-events: none;
}

.sudoku-grid.hidden-solution .cell-solution {
  visibility: hidden;
}

.cell-multi-solution {
  font-size: 15px;
  line-height: 17px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

body > div {
  display: inline-block;
  vertical-align: top;
  font-family: sans-serif;
  margin: 15px;
}

button {
  font-size: 16px;
  border-radius:5px;
  color:#ffffff;

  border:1px solid #124d77;
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color:#2dabf9;
  text-shadow:0px 1px 0px #263666;

  padding: 5px 15px;
  margin: 5px 0px;
}
button:hover:enabled {
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color:#0688fa;
}
button:disabled {
  opacity: 0.5;
}
button:active {
  position:relative;
  top:1px;
}

button.danger-button {
  border-color: #942911;
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color:#d0451b;
  text-shadow:0px 1px 0px #854629;
}
button.danger-button:hover:enabled {
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color:#bc3315;
}

#display-panel > div {
  margin-bottom: 10px;
}

.selected {
  background: rgba(0,0,255,0.1);
}

.highlighted {
  background: rgba(255,255,0,0.5);
}

.error {
  color: rgb(200, 0, 0);
  font-weight: bold;
}

#displayed-constraints {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: rgba(0,0,255,0.1);
  border-radius: 10px;
}

.constraint-item {
  cursor: default;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: rgba(255,255,0,0.5);
  margin: 5px;
}

.constraint-item button {
  border: 0px;
  color: #d0451b;
  background: transparent;
  font-size: 25px;
  cursor: pointer;
  margin: 0px;
  padding: auto;
}
.constraint-item:hover {
  background: rgba(255,255,0,0.8);
}
.constraint-item button:hover {
  color: #bc3315;
}

#constraint-panel h1 {
  font-size: 20px;
  line-height: 1;
}

#constraint-panel {
  line-height: 2;
}

input[type=number]{
 width: 4em;
}

fieldset[disabled]{
  color: grey;
}

fieldset {
  border: none;
  background: rgb(0,0,255,0.1);
  border-radius: 10px;
  width: fit-content;
}
fieldset > span {
  font-size: 18px;
}

textarea {
  margin: 10px 0px;
}

.control-panel {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  gap: 15px;
}
.control-panel button {
  height: 50px;
  min-width: 50px;
}
#grid-control-buttons {
  justify-content: space-between;
}
#solution-control-panel {
  display: flex;
  align-items: center;
  gap: 15px;
}
button.icon-button {
  height: 50px;
  width: 50px;
  font-size: 25px;
  font-weight: bold;
  padding: 0px;
}
#solution-step-output {
  display: inline-block;
  min-width: 40px;
  text-align: center;
}

#display-panel {
  line-height: 2;
}

#solve-status {
  font-weight: bold;
  color: darkviolet;
}
#solve-status:empty:after {
  content: '.';
  visibility: hidden;
}

#freeform-constraint-text {
  width: 100%;
}

#fake-input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: -1;
  /* Required to stop auto-zooming on mobile. */
  width: 1em;
  font-size: 16px;
}

#state-output {
  font-size: 12px;
}

#state-output > div {
  margin: 10px 0;
}

#state-output span {
  display: block;
  line-height: 120%;
}

#state-output > div:first-of-type {
  font-size: 16px;
}

.state-output-title {
  color: grey;
}

#solve-mode-input {
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  text-align-last: center;
  margin: 10px 0;
}

.two-column {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.vcenter-items {
  align-items: center;
}
