.sudoku-grid {
  position: relative;

  display: inline-grid;
  grid-template-columns: repeat(9, 52px);
  grid-template-rows: repeat(9, 52px);
}

.sudoku-grid-background {
  position: absolute;
  top: 0;
  left: 0;
}

.cell-elem {
  width: 50px;
  height: 50px;
}

.cell-input {
  position: absolute;
  overflow: hidden;
  text-align: center;
  line-height: 50px;

  font-size: 30px;
  font-family: sans-serif;

  border-radius: 25px;

  cursor: pointer;
}

.cell-input:not(:empty) + .cell-solution {
  display: none;
}

.cell-solution {
  position: absolute;
  text-align: center;
  line-height: 50px;

  font-size: 30px;
  font-family: monospace;

  color: rgb(0, 128, 255);

  pointer-events: none;
}

.sudoku-grid.hidden-solution .cell-solution {
  visibility: hidden;
}

.cell-multi-solution {
  font-size: 15px;
  line-height: 17px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

body > div {
  display: inline-block;
  vertical-align: top;
  font-family: sans-serif;
  margin: 15px;
}

button {
  font-size: 16px;
  padding: 5px 15px;
  margin: 5px 0px;
}

#display-panel > div {
  margin-bottom: 10px;
}

.selected {
  background: rgba(0,0,255,0.1);
}

.highlighted {
  background: rgba(255,255,0,0.5);
}

.error {
  color: rgb(200, 0, 0);
}

#displayed-constraints {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
}

.constraint-item {
  cursor: default;
}

.constraint-item button {
  border: 0px;
  color: grey;
  background: transparent;
  cursor: pointer;
}
.constraint-item button:hover {
  color: black;
}

#constraint-panel h1 {
  margin-top: 0px;
  font-size: 20px;
  line-height: 1;
}

#constraint-panel {
  line-height: 2;
}

input[type=number]{
 width: 3em;
}

fieldset[disabled]{
  color: grey;
}

textarea {
  margin: 10px 0px;
}

#solution-control-panel {
  margin: 10px auto;
  text-align: center;
}

#solution-control-panel button {
  font-size: x-large;
  font-weight: bold;
  letter-spacing: -5px;
  font-family: monospace;
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

#display-panel {
  line-height: 2;
}

#solve-status {
  font-weight: bold;
  color: darkviolet;
  margin: 0px 20px;
}
#solve-status:empty:after {
  content: '.';
  visibility: hidden;
}

#freeform-constraint-text {
  width: 100%;
}

#fake-input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: -1;
  /* Required to stop auto-zooming on mobile. */
  width: 1em;
  font-size: 16px;
}

#state-output {
  font-size: 12px;
}

#state-output > div {
  margin: 10px 0;
}

#state-output span {
  display: block;
  line-height: 120%;
}

#state-output > div:first-of-type {
  font-size: 16px;
}

.state-output-title {
  color: grey;
}

#solve-mode-input {
  font-size: 16px;
  padding: 5px 25px;
  text-align: center;
  text-align-last: center;
}
